<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
</head>
<body style="margin: 0; padding: 0;">
<div style="width: 100%; margin: 0 auto;">
    <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="font-family: Arial,Helvetica,sans-serif;color: #555555;border-collapse: collapse; border: 1px #ededed solid;background-color: #f1f1f1">
        <tbody>
        <tr>
            <td valign="top" align="center">
                <table height="100%" width="550" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td style="padding-top: 70px"></td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 25px 30px; color: #555555; border-right: 1px #ebebeb solid; border-bottom: 2px #ebebeb solid;">
                            <table height="100%" width="500" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr style="vertical-align: top;">
                                    <td style="font-size: 36px; line-height: 48px; font-family: Arial,Helvetica,sans-serif; color: #4e8fd0; padding: 0px; border-collapse: collapse;">
                                        Zpráva z kontaktního formuláře
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table height="100%" width="500" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr style="vertical-align: top;">
                                    <td style="width: 30%; font-size: 16px; font-family: Arial,Helvetica,sans-serif; line-height: 26px; padding: 10px 0px 0px;">
                                        Email:
                                    </td>
                                    <td style="font-size: 16px; font-family: Arial,Helvetica,sans-serif; line-height: 26px; padding: 10px 0px 0px;">
                                        <strong>{{ inputAll.email }}</strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                                <table height="100%" width="500" cellpadding="0" cellspacing="0">
                                    <tbody>
                                <tr style="vertical-align: top;">
                                    <td colspan="2" style="font-size: 16px; font-family: Arial,Helvetica,sans-serif; line-height: 26px; padding: 10px 0px 0px;">
                                        {{ inputAll.message }}<br>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 70px"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center" bgcolor="#ffffff" style="border-bottom: 2px #f2f2f2 solid;">
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>